@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*Style for Nav Bar */

.navbar{
    position: relative;
    width: 100%;
    padding: 30px 0;
    background: turquoise;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    z-index: 2;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a:hover{
    color: red;
}

.navbar .logo a span{
    color: white;
}

.navbar .logo a span:hover{
    color: blue;
}



.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px; 
    transition: all 0.3s linear; 
}

.navbar .menu li a:hover{
    color: blue;
}

/*Style for Hero Page*/

.home{
    display: flex;
    background: url(Images/banner.jpg) no-repeat center;
    height:100vh;
    width: 100%;
    color: red;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
}

.home .max-width{
    margin: auto 0 auto 30px;
}

.home .hero-content .text-1{
   font-size: 25px;
}

.home .hero-content .text-2{
    font-size: 50px;
    font-weight: 700;
}

 .home .hero-content .text-3{
    font-size: 30px;
}

.home .hero-content a{
    padding: 12px 36px;
    background: red;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    display: inline-block;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.3s linear;
}

 .hero-content a:hover{
    background: turquoise;
    color: white;
}

 /*Style for About Section */
section{
    padding: 100px 0;
}

.about{
  font-family: "Montserrat", sans-serif; 
  background: url(Images/banner-5.jpg) no-repeat fixed center center / cover;
}

.about .title{
 text-align: center;
 font-size: 30px;
 padding-bottom: 50px;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



.about .about-content .column-left{
    width: 45%;
   
}

.about .about-content .column-left img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
}


.about .about-content .column-right{
    width: 55%;
   
}

.column-right .text{
    margin-bottom: 10px;
}

.column-right p{
    font-size: 20px;
    text-align: justify;
}

/* Style for Services Section*/
.services{
    color: black;
    background: tomato;
}

.services .title{
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

.services .services-content{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.services .services-content .card{
    width: calc(33% - 20px);
    background: white;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;

}

.services .services-content .card:hover{
    background: turquoise;
}


.services .services-content .card .box{
    transition: all 0.3s ease;
}

.services .services-content .card .box:hover{
    transform: scale(1.05);
}

.services .services-content .card img{
    height: 60px;
    width: 60px;
}

.services .services-content .text{
    font-family: "Montserrat", sans-serif; 
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}


.services .services-content p {
    font-family: "Montserrat", sans-serif; 
    font-size: 18px;
}

 /*Style for Skills Section */


 .skills{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    background: url(Images/banner-3.jpg) no-repeat fixed center center / cover;


 }

 .skills .title{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
 }

 .skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
 }


 .skills .skills-content .column-left{
width: calc(55% - 30px);
/* width: 55%; */
 }

 .skills .skills-content .column-left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
 }

 .skills .skills-content .column-left p{
    text-align: justify;
    font-size: 18px;
 }

 .skills .skills-content a{
    padding: 12px 36px;
    background: red;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    display: inline-block;
    border-radius: 20px;
    font-size: 20px;
}

.skills .skills-content a:hover{
    background: turquoise;
    color: white;
}

.skills .skills-content .column-right{
    width: 45%;
 }

 .skills .skills-content .column-right .bar{
margin-bottom: 15px;
 }

 .skills .skills-content .column-right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
 }

 .skills .skills-content .column-right .info:hover{
   color: red;
  
 }

 

 .skills .skills-content .column-right span{
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
 }


 .skills .skills-content .column-right .line {
   height: 10px;
   width: 100%;
   background: lightgray;
   position: relative;
 }

 .skills .skills-content .column-right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background: red;
 
 }

 .skills-content .column right .html::before{
    width: 95%;
 }

 .skills-content .column right .css::before{
    width: 95%;
 }

 .skills-content .column right .javascript::before{
    width: 95%;
 }

 /* Styles for Contact Section*/
 .contact{
    font-family: "Montserrat", sans-serif;
    background: url(Images/banner-4.jpg) no-repeat scroll center center / cover;
 }

 .contact .title{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
 }

 .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
 }

 .contact .contact-content .column-left{
    width: calc(50% - 30px);
 }

 .contact .contact-content .column-left .text{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
 }

 .contact .contact-content .column-left p{
    font-size: 18px;
    text-align: justify;

 }

 .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
 }

 .contact .contact-content .row .info{
    margin-left: 30px;
 } 

  
 .icons img{
    height: 20px;
    width: 20px;
 }

 .contact .contact-content .info .head{
    color: red;
    font-weight: 600;
   margin: 5px 0;
 }

 .contact-content .text{
    color: red;
    font-weight: 600;
    font-size: 25px;
 }

 .contact .contact-content .info .sub-title{
    font-weight: 600;

 }

 .contact .column-right .fields{
    display: flex;
}

 .contact .column-right .fields,
 .contact .column-right .field, .field {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
 }


 .field-textarea{
    height: 100px;
    width: 100%;
 }

 .contact .column-right .field-name{
    margin-right: 10px;
 }

 .contact .column-right .field-email{
    margin-left: 10px;
 }

 .contact .column-right form input,
 input,
 .contact .column-right form .field-textarea textarea{
    height: 100%;
    width: 100%;
    border:1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
 }

 .contact .column-right form input:focus,
 .contact .column-right .field-textarea textarea:focus{
    border-color: red;
 }

 .contact .column-right form .field-textarea textarea{
    padding-top: 10px;
    resize: none;
 }

 .contact .column-right form .button {
    height: 50px;
    width: 170px;
 }

 .contact .column-right form .button button{
    height:100%;
    width: 100%;
    background: red;
    border: 2px solid red;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
 }

 .contact .column-right form .button button:hover{
    color: white;
    background: turquoise;
    border: 2px solid white;
 }

 /* Footer Styling */
footer {
   font-family: "Montserrat", sans-serif;
   color: white;
   text-align: center;
   background: black;
   padding: 20px 25px;
}

footer span a{
   text-decoration: none;
   color: red;
}
footer span a:hover{
   text-decoration: underline;
}


 




 

 


 






